---
import { getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Container from "@components/Container.astro";
import { MEMES } from "@consts";
import MemeCard from "@components/MemeCard.astro";

const memes = (await getCollection("memes"))
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());
---

<Layout title={MEMES.TITLE} description={MEMES.DESCRIPTION}>
    <Container>
      <aside data-pagefind-ignore>
        <h1 class="animate text-black dark:text-white text-4xl mb-3">
          {MEMES.TITLE}
        </h1>
        <p class="animate mb-10">
          {MEMES.DESCRIPTION}
        </p>
        <div class="space-y-10">
          <ul class="animate not-prose flex flex-col gap-4 md:gap-8">
            {
              memes.map((meme) => (
                <li>
                  {console.log(meme.data)} 
                  <MemeCard entry={meme} />
                </li>
              ))
            }
          </ul>
        </div>
      </aside>
    </Container>
  </Layout>
